body{
    margin:0;
}
iframe { 
    width:100%; 
    height: 1300px;
    border: none;
}
a{ 
    text-decoration:none;
    color: white;
    font-family: 'Poiret One', cursive; 
    font-size:20px; 
}
ul li a:hover {
    color: antiquewhite; 
}
.menu {
    background-color: #696969;
    width: 100%; 
    height:50px;
    padding-top: 5px;
    padding-bottom: 10px;
}
nav ul ul{
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul{
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after{
    content: ""; clear: both; display: block;
}
nav ul li{
    float: left;
    margin: 0 25px 0 25px;
}
nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a; position: relative;
    margin: 5px 15px 5px 15px;
}
nav ul ul li a {
    color: #fff;
}   



